# ignore these system files
.DS_Store

#ignore these files and folders to that PiTXi generates
.LocalFileList.txt
.RemoteFileList.txt
newfiles.txt
PPLCSVFiles
importToXero*
lookupvalues.csv

#ignore my notes file
pitxi programming notes